<h1>Welcome to KitchenManager</h1>
<% if user_signed_in? %>
  <%= link_to 'Add new storage place', new_storage_path %>
  <br>


  <%= link_to 'Your Fridge', @fridge %> | <%= link_to 'Your Refrigerator', @refrigerator %> |<%= link_to 'Your Pantry', @pantry %>
<% end %>
