<h1>Welcome to KitchenManager</h1>
<% if user_signed_in? %>
  <%= link_to 'Your stock info', products_path %>
  <br>


  <%= link_to 'Your Fridge', products_path %> | <%= link_to 'Your Refrigerator', products_path %> |<%= link_to 'Your Pantry', products_path %>
<% end %>
